<section class="form-container">
  <%= form_with(model: product) do |form| %>
    <% if product.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-item">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="form-item">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description %>
    </div>

    <div class="form-item">
      <%= form.label :price, style: "display: block" %>
      <%= form.text_field :price %>
    </div>

    <div class="center">
      <%= form.submit class:"button-submit" %>
    </div>
  <% end %>
</section>
